
.main-warpper{
    position: relative;
    top: 0.5rem;
    margin: 0 auto;
    width: 90%;
    @include media("<desktop"){
        width: 100%;
    }
    @import 'LeftArea';
    .center-area{
        margin-left:18rem;
        width:55%;
        position: relative;
        display: inline-block;
        @include media("<desktop"){
            margin-left: 0rem;
            width:67%;
            float:left;
        }
        @include media("<table"){
            width: 100%;
        }
        .write-area{
            background: #fff;
            box-shadow:0 1px 4px rgba(0,0,0,.04);
            border: 1px solid rgba(0,0,0,.09);
            height: 8rem;
            .write-header{
                background: #e7ffee;
                border-bottom: 1px solid $oc-gray-3;
                height:3rem;
                .btn-area{
                    line-height: 3rem;
                    width:80%;
                    padding-left:1rem;
                    .write-btn{
                        padding: 14px 12px;
                        margin: 0 20px 0 0;
                        -webkit-box-flex: 1;
                        -webkit-flex-grow: 1;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                        text-align: left;
                        font-size: 1.2rem;
                        line-height: normal;
                        color: $font-color-title;
                        font-weight: 400;
                        position: relative;
                        cursor:pointer;
                        Icon {
                            margin-right: 0.5rem;
                            font-size:5rem; 
                        }
                    }
                    .write-btn:after{
                        content: "";
                        padding: 5px;
                        background: #fff;
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        border: 1px solid #eceff1;
                        border-left: none;
                        border-bottom: none;
                        position: absolute;
                        left: calc(50% - 4px);
                        top: calc(100% - 10px);
                    }
                }
            }
            .write-content{
                height:100%;
                .desctiption{
                    padding-left:2rem;
                    color: $font-color-hint;
                    line-height: 5rem;
                }
            }
        }

        .content-area{
            margin-top: 1rem;
            .content-item{
                background: #fff;
                box-shadow:0 1px 4px rgba(0,0,0,.04);
                border: 1px solid rgba(0,0,0,.09);
                height: 8rem;

            }
        }
    }
    .right-area{
        display: inline-block;
        position: fixed;
        background: #168;
        width:18rem;
        margin-left:1.1rem;
        height:2rem;
        z-index:$z-index-side-menu;
        @include media("<table"){
            display:none;
        }
    }
}